@import "reset.css";
@import "header.css";

:root{
    /* Fondations */
    --website-bg-color: #fdf9ef;
    --main: #23422a;
    --secondary: #566342;
    --main-text: #424842;
    --white: #fff;
    --shadow-head: #0000001c;
    --section-bg-dark: #f1eee3;

    /* Hero and surfaces */
    --overlay-hero: #fdf9efd0;
    --card-bg: #ebe8de;
    --white-btn-hover: #ffffffd1;

    /* Newsletter */
    --bg-newsletter-input: #ffffff10;
    --newsletter-text: #acd0af;
    --placeholder-newsletter: #acd0afb1;

    /*Citation and footer */
    --citation-bloc: #dddad0;
    --footer-bg: #DDDAD0;
    --waiting-secondary-text: #566342c2;
}

body{
    background-color: var(--website-bg-color);
    font-family: 'manrope', sans-serif;
}

.container{
    max-width: 1400px;
    margin-inline: auto;
    padding-inline: 2rem;
}

.hero{
    background: url("https://picsum.photos/id/1040/800/600");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 600px;
    display: flex;
    align-items: center;
}

.hero-card{
    background-color: var(--overlay-hero);
    text-align: center;
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    
}

.card-surtitle{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: .75rem;
    color: var(--main-text);
    padding-bottom: 1rem;
}

.card-title{
    font-family: serif;
    font-weight: 700;
    color: var(--main);
    font-size: 2.25rem;
    letter-spacing: 1px;
    padding-bottom: 1.5rem;
}

.card-text{
    line-height: 1.6;
    color: var(--main-text);
    text-wrap: balance;
    padding-bottom: 1.5rem;
}

.btn{
    font-size: .88rem;
    font-weight: 700;
    color: var(--white);
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: var(--main);
    padding-block: 1rem;
    margin-inline: 2rem;
}

@media (min-width: 705px){
    .hero{
        height: 870px;
    }

    .hero-card{
        text-align: left;
        display: flex;
        align-items: flex-start;
        padding: 3rem;
        max-width: 700px;
    }

    .card-title{
        font-size: 6rem;
    }

    .card-text{
        font-size: 1.5rem;
    }

    .btn{
        text-align: center;
        padding-inline: 2.5rem;
        margin: 0;
    }

    .container{
        width: 100%;
    }
}